@model MyEverNote.Entities.EverNoteUser

@{
    ViewBag.Title = "Delete";
}

<script>

                BootstrapDialog.show({
            title: "Are You Sure?",
        message: 'User Kaydınız Silinecektir.',
        buttons: [{
                label: 'Ok',
            cssClass: 'btn-primary',
            action: function(dialog) {
                    var url = '@Url.Action("DeletePost", "EverNoteUsers", new { id = "__id__" })';
                    window.location.href = url.replace('__id__',@ViewBag.id);
                    dialog.close();
                }
        }]

    });


</script>

@using (Html.BeginForm("Delete", "EverNoteUsers", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h2>Delete Note</h2>
            <hr />

            <div class="row">
                <div class="col-md-2">
                    @if (Model.ProfileImage != null)
                    {
                        <img src="~/Images/@Model.ProfileImage" class="img-circle" alt="@Model.Username" width="150" height="150">
                    }
                    else
                    {
                        <img src="~/Images/unisex-user-profile-picture.jpg" class="img-circle" width="150" height="150">
                    }
                </div>
                <div class="col-md-5">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })                           
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsActive)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">

                    <div class="form-group">
                        @Html.LabelFor(model => model.ActivateGuid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ActivateGuid, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProfileImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProfileImage, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CreateOn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CreateOn, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ModifieOn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ModifieOn, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ModifiedUser, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ModifiedUser, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsAdmin)
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.ActionLink("Back to Not İşlemleri", "UserIslemleri", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $('div :input').attr('disabled', true);
        $('.btn').attr('disabled', false);
    });
</script>
