@model MyEverNote.Entities.Category

@{
    ViewBag.Title = "Delete";
}

<script>

                BootstrapDialog.show({
            title: "Are You Sure?",
        message: 'User Kaydınız Silinecektir.',
        buttons: [{
                label: 'Ok',
            cssClass: 'btn-primary',
            action: function(dialog) {
                    var url = '@Url.Action("DeletePost", "Category", new { id = "__id__" })';
                    window.location.href = url.replace('__id__',@ViewBag.id);
                    dialog.close();
                }
        }]

    });


</script>

@using (Html.BeginForm("Delete", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h2>Delete Category</h2>
            <hr />

            <div class="row">
                <div class="col-md-7">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, rows: 4, columns: 8, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-5">

                    <div class="form-group noedit">
                        @Html.LabelFor(model => model.CreateOn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CreateOn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CreateOn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group noedit">
                        @Html.LabelFor(model => model.ModifieOn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ModifieOn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModifieOn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group noedit">
                        @Html.LabelFor(model => model.ModifiedUser, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ModifiedUser, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModifiedUser, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.ActionLink("Back to Category İşlemleri", "CategoryIslemleri", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $('div :input').attr('disabled', true);
        $('.btn').attr('disabled', false);
    });
</script>
